<!DOCTYPE html>
<html>

<head>
    {{>headSetup}}
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Jonatas Sallazar. It uses data from Mapbox and Weather Api.</p>
    <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>

</html>