<!DOCTYPE html>
<html>

<head>
    {{>headSetup}}
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/robot.png">
    </div>
    >{{>footer}}
</body>

</html>